
.network {
    .wireless.disconnected {
        color: $color1;
    }
}
.bluetooth {
    color: $color1;
    .powered {
        color: gray;
        &.connected {
            color: $foreground;
        }
    }
}
